<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some New  Website</title>
</head>
<body>
    {{> header}}
    <p>Site is currently under construction.</p>
    {{> footer}}
</body>
</html>